@layout AccountLayout
@page "/registrarme"
@using System.ComponentModel.DataAnnotations

<PageTitle>BlazorStore - Registro</PageTitle>

<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Blazor</b>Store</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Registro de nuevo usuario</p>

      <EditForm Model="@users" OnValidSubmit="@CreateUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-group mb-3">
          <InputText class="form-control" @bind-Value="users.Name" id="Name" placeholder="Nombre" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <InputText class="form-control" @bind-Value="users.LastName" id="LastName" placeholder="Apellidos" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <InputText class="form-control" @bind-Value="users.Username" id="Username" placeholder="Usuario" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <InputText type="email" class="form-control" @bind-Value="users.Email" id="Email"
            placeholder="Correo Electronico" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <InputText type="password" class="form-control" @bind-Value="users.Password2" id="Contrase침a"
            placeholder="Contrase침a" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
            </div>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
          </div>
        </div>
      </EditForm>

      <div class="social-auth-links text-center">
        <p>- O -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Iniciar sesi칩n utilizado Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Iniciar sesi칩n utilizado Google+
        </a>
      </div>

      <a href="/login" class="text-center">Ya tengo una cuenta</a>
    </div>
  </div>
</div>

@code {
  [Inject] NavigationManager navigationManager { get; set; } = default!;
  public E_Users users = new E_Users();
  public D_Users objDtos = new D_Users();

  private void CreateUser()
  {
    users.Rol_id = 2;
    users.Password = HashWithSalt.Hash(users.Password2);
    objDtos.InsertarProductos(users);
    navigationManager.NavigateTo("/");
  }
}