@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>BlazorStore</PageTitle>

<div class="wrapper">
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="AdminLTE/dist/img/BlazorStore.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">BlazorStore</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          @if (Rol_id == 1)
          {
            <li class="nav-item">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              style="display: flex; align-items: center;"><i class="fas fa-bars"></i></a>
            </li>
          }
          <li class="nav-item">
            <a href="/" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Tienda</a>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle">Categorias</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="#" class="dropdown-item">Alimentación</a></li>
              <li><a href="#" class="dropdown-item">Bebés</a></li>
              <li><a href="#" class="dropdown-item">Bebidas</a></li>
              <li><a href="#" class="dropdown-item">Cuidado Personal y Belleza</a></li>
              <li><a href="#" class="dropdown-item">Furtas y Vegetales</a></li>
              <li><a href="#" class="dropdown-item">Limpieza</a></li>
              <li><a href="#" class="dropdown-item">Hogar y Electrodomésticos</a></li>
              <li><a href="#" class="dropdown-item">Bebés</a></li>
            </ul>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

          @if (E_Users.Users.Count == 1)
          {
            <li class="nav-item dropdown user-menu">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <img src="AdminLTE/dist/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
                <span class="d-none d-md-inline">@CompleteName</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <!-- User image -->
              <li class="user-header bg-primary">
                  <img src="AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">

                  <p>
                    @CompleteName - Cliente
                    <small>@Username</small>
                  </p>
                </li>
                <!-- Menu Footer-->
              <li class="user-footer">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                  <a @onclick="() => CloseSection()" class="btn btn-default btn-flat float-right">Cerrar Sesión</a>
                </li>
              </ul>
            </li>
          }
          else if (E_Users.Users.Count == 0)
          {
            <li class="nav-item">
              <a class="nav-link" href="/login" role="button">
                Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registrarme" role="button">
                Registrarse
              </a>
            </li>
          }

          <li class="nav-item">
              <a class="nav-link" href="#" role="button">
                <i class="fa fa-shopping-cart"></i>[@Carrito]
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <NavMenu />
  </aside>

  <div class="content">
    <div class="container-fluid">
      @Body
    </div>
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      CODEBRO
    </div>
    <strong>Copyright &copy; 2022 BlazorStore</strong>
  </footer>
</div>

@code {
  [Inject] NavigationManager navigationManager { get; set; } = default!;
  public string CompleteName = "";
  public string Username = "";
  public int Carrito;
  public int Rol_id;

  protected override void OnInitialized()
  {
    foreach (var item in E_Users.Users)
    {
      CompleteName = item.Name + " " + item.LastName;
      Username = item.Username;
      Rol_id = item.Rol_id;
    }
  }

  public void CloseSection()
  {
    E_Users.Users.Clear();
    navigationManager.NavigateTo("/login");
  }
}