@page "/comoordenar"


<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
            <div class="row mb-2">
        <div class="col-sm-6">
            <div style="margin-right: 10px; float: left">
                   <a class="m-0" href="@locationDaniel">Carmen Renata 1</a>
            </div>
          <a class="m-0" href="@locationDaniel">Villa de pantoja</a>

        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          </ol>
        </div>
      </div> 
<hr />
        <div class="content_title_comordenar">
            <center><div class="title">
                <h3><b>PICKUP O DELIVERY</b></h3>
                <h5> Por esta pagina web puedes comprar y recibir tu compra por pickup o delivery</h5>
            </div></center>
        </div>
        <div class="body_comoordenar" style="width:100%;">
          
           
            <div class="content_comoordenar_text">
                <h5><b>Paso #1</b></h5>
            <p><b>'Regístrate'</b> colocando los datos requeridos,<b> [Inscribirme] </b></p>
              
            </div>
            <div class="content_comoordenar_text">
                <h5><b>paso #2</b></h5>
            <p>Agreg a tu carrito los productos que deseas presionando el bonon de carrito</p>
            </div>
            <div class="content_comoordenar_text">
                <h5><b>Paso #3</b></h5>
            <p>Verifica tu carrito, seleccionar y llene el formulario y presiona <b>[Pagar Compra]</b></p>
              
            </div>
        </div>
        </div>
       <div class=""detalles_comoordenar style="width:100%; float:right; margin-top:20px">
            <ul>
            <li>Al agregar un producto puedes poner comentarios que nos ayuden a entender tus preferencias.</li>
            <li>Si el producto que deseas no lo tenemos disponible te lo sustituiremos por uno de la misma marca de otro tamaño o por otro del mismo tamaño en otra marca. Si prefieres que no te demos sustitutos puedes indicarlo en el carrito.</li>
            <li>Puedes pagar con tarjeta de crédito o debito VISA, MASTERCARD o AMERICAN EXPRESS.</li>
            <li>Nuestro horario de atención al cliente es de 8:00 AM a 6:00 PM.</li>
        </ul>
       </div>
     </div>
     </div>

 @code{


    public string locationDaniel = "https://www.google.com/maps/place/Carmen+Renata+I,+Santo+Domingo/@18.5178193,-70.0059987,16z/data=!4m13!1m7!3m6!1s0x8eaf8baabdee2743:0x22fe0bd165b5247!2sCarmen+Renata+I,+Santo+Domingo!3b1!8m2!3d18.5167128!4d-70.0008147!3m4!1s0x8eaf8baabdee2743:0x22fe0bd165b5247!8m2!3d18.5167128!4d-70.0008147";
}